*,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 1vh;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    background-color: #C55394;
    justify-content: space-between;
}

header h1 {
    font-size: large;
    margin: 5px 0 0 0;
    font-family: 'Courgette', cursive;
}


/* section barre de menu */

a.one,
a.two {
    color: #FFF;
    margin: 0 15px;
    text-decoration: none;
}

a.two:hover {
    padding: 1.7vh;
    background-color: #EB43A3;
}


/* link color and menu hover */

main {
    background-image: url('../img/background.png');
}

#shadow {
    margin: 2vh 7vw 6vh 7vw;
    padding: 3% 2.5%;
    width: fit-content;
    border-radius: 0.7em;
    background-color: #fff;
    box-shadow: 0em 0em 1em 0em;
}


/* Propriete de la bordure externe */

.title {
    font-size: 1.7em;
    font-weight: bold;
    color: #C55394;
    text-align: center;
    margin-top: -120px;
    font-family: 'Courgette', cursive;
}


/* Mise en style du titre */

.rainbow {
    text-align: center;
    padding-top: 150px;
}


/* Arc en ciel */

.head {
    color: #EB43A3;
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Courgette', cursive;
}


/* Mise en style des 3 sous-titres */

.line {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 1em;
}

.line figure {
    position: relative;
}

.line .column figure figcaption {
    position: absolute;
    padding: 0.5em;
    color: #FFF;
    background-color: #333;
    width: 100%;
    text-align: center;
    bottom: 0em;
    background: rgba(0, 0, 0, 0.7);
}

.column:hover {
    transform: scale(1.04);
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.column1 {
    flex: 50%;
    padding: 1em;
}


/* Affichage lineaire des images et du frame */

.row1 .column1 h6 {
    font-family: 'Courgette';
    color: #C55394;
    font-size: 1.2em;
    font-weight: bolder;
}


/* Mise en style des autres titres */

input[type=submit] {
    color: #FFF;
    background-color: #C55394;
}

footer {
    bottom: 0;
    width: 100%;
    color: #FFF;
    padding: 10px;
    text-align: right;
    position: relative;
    font-size: xx-small;
    background-color: #EB43A3;
}


/* Footer */